/datasets/PixelDepth/RawData/UnityProject/PixelDepth/Assets
/datasets/PixelDepth/RawData/UnityProject/PixelDepth/.vs
/datasets/PixelDepth/RawData/UnityProject/PixelDepth/Library
/datasets/PixelDepth/RawData/UnityProject/PixelDepth/Temp
/logs/Model67/train/
/logs/Model67/validation
/logs/
/stored_models/*
