/datasets/PixelDepth/RawData/UnityProject/PixelDepth/Assets
/datasets/PixelDepth/RawData/UnityProject/PixelDepth/.vs
/datasets/PixelDepth/RawData/UnityProject/PixelDepth/Library
/datasets/PixelDepth/RawData/UnityProject/PixelDepth/Temp
/logs/Model67/train/
/logs/Model67/validation
/logs/
/stored_models/*
/ConvNets/ConvNetMNistSolver/__pycache__/CNNData.cpython-36.pyc
/ConvNets/ConvNetMNistSolver/__pycache__/ConvNetMNistSolver.cpython-36.pyc
/ConvNets/SemanticSegmentation/__pycache__/SemanticSegmentation.cpython-36.pyc
/ConvNets/SemanticSegmentation/__pycache__/SemanticSegmentationData.cpython-36.pyc
/ConvNets/SemanticSegmentation/__pycache__/SemanticSegmentationTrainingDataLoader.cpython-36.pyc
/stored_models - Copy/BallFinder_Boundary_17-832692.data-00000-of-00001
/stored_models - Copy/BallFinder_Boundary_17-832692.index
/stored_models - Copy/BallFinder_Boundary_17-832692.meta
/stored_models - Copy/BallFinder_Boundary_17-834207.data-00000-of-00001
/stored_models - Copy/BallFinder_Boundary_17-834207.index
/stored_models - Copy/BallFinder_Boundary_17-834207.meta
/stored_models - Copy/BallFinder_Boundary_17-835762.data-00000-of-00001
/stored_models - Copy/BallFinder_Boundary_17-835762.index
/stored_models - Copy/BallFinder_Boundary_17-835762.meta
/stored_models - Copy/checkpoint
